*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

logs
project/project
project/target
target
lib_managed
tmp
.history
dist
/.idea
/*.iml
/*.ipr
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
*.iws
.bloop
.bsp
project/metals.sbt
.metals
.vscode
.DS_Store
